<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>FakeBackup</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

    <h1 class="text-center">FakeBackup</h1>

    <div class="container-fluid contenedor degradado">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <h3 class="col-sm-offset-4">Inicia Sesión</h3>
                <div class="row">
                    <form method="post" action="/" class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-4 control-label">Nombre de Usuario</label>
                            <div class="col-sm-6">
                                <div class="input-group bordesinput">
                                    <span class="input-group-addon iconos" id="addon1"><span class="glyphicon glyphicon-user iconos"></span></span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" aria-describedby="addon1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">Contraseña</label>
                            <div class="col-sm-6">
                                <div class="input-group bordesinput">
                                    <span class="input-group-addon iconos" id="addon2"><span class="glyphicon glyphicon-lock iconos"></span></span>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="*********" aria-describedby="addon2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" id="log" class="btn btn-default button">Entrar</button>
                            </div>
                        </div>

                    </form>
                </div>
                {{.Tmpl}}
            </div>

            <div class="col-md-1 separacion"></div>
            <div class="col-md-3 col-md-offset-1">
                <h3>Registrate</h3>
                <a class="btn btn-default button" id="registrob" href="registrar">Formulario de registro</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>

</body>
</html>