<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>FakeBackup</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

    <h1 class="text-center">FakeBackup</h1>

    <div class="container-fluid contenedor degradado">
        <div class="row">
            <h2 class="text-center">Formulario de Registro</h2>
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <form method="post" action="/registrar" class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-4 control-label">Nombre de Usuario</label>
                            <div class="col-sm-6">
                                <div class="input-group bordesinput">
                                    <span class="input-group-addon iconos" id="addon1"><span class="glyphicon glyphicon-user iconos"></span></span>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" aria-describedby="addon1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pass1" class="col-sm-4 control-label">Contraseña</label>
                            <div class="col-sm-6">
                                <div class="input-group bordesinput">
                                    <span class="input-group-addon iconos" id="addon2"><span class="glyphicon glyphicon-lock iconos"></span></span>
                                    <input type="password" class="form-control" onchange="passMatch()" id="pass1" name="pass1" placeholder="*********" aria-describedby="addon2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pass2" class="col-sm-4 control-label">Repetir Contraseña</label>
                            <div class="col-sm-6">
                                <div class="input-group bordesinput">
                                    <span class="input-group-addon iconos" id="addon3"><span class="glyphicon glyphicon-lock iconos"></span></span>
                                    <input type="password" class="form-control" onchange="passMatch()" id="pass2" name="pass2" placeholder="*********" aria-describedby="addon3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" id="log" disabled class="btn btn-default button">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                {{.Tmpl}}
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <script>
        function passMatch() {
            var pass1 = document.getElementById("pass1").value;
            var pass2 = document.getElementById("pass2").value;
            if (pass1 != pass2) {
                document.getElementById("pass1").style.border = "solid 2px";
                document.getElementById("pass2").style.border = "solid 2px";
                document.getElementById("pass1").style.borderColor = "#ff0000";
                document.getElementById("pass2").style.borderColor = "#ff0000";

                document.getElementById("log").disabled=true;
            }
            else {
                document.getElementById("pass1").style.border = "solid 2px";
                document.getElementById("pass2").style.border = "solid 2px";
                document.getElementById("pass1").style.borderColor = "#008000";
                document.getElementById("pass2").style.borderColor = "#008000";

                document.getElementById("log").disabled=false;
            }
        }
    </script>
</body>
</html>