<!DOCTYPE html>
<html lang="es">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FakeBackup</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>



    <link href="../assets/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/fileinput.min.js" type="text/javascript"></script>



</head>
<body onload="mostrarTabla()">
    <nav id="barrica" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="butonic" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: #ffffff" href="#">FakeBackup</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="troll" id="backa" href="#" onclick="mostrarSubir()">Hacer BackUp<span class="sr-only">(current)</span></a></li>
                    <li><a style="color: #ffffff;" href="/upload" id="ficha" >Mis Ficheros</a></li>
                    <li><a style="color: #ffffff;" href="/downFullBackup" id="downFullBackup" onclick="return confirm('¿Desea descargar el repositorio completo?')">Descargar Copia Completa</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="yo" style="color: white">Bienvenido {{.User}}</a>
                    </li>
                    <li>
                        <form method="post" action="/logout" role="search" class="navbar-form">
                            <input type="submit" id="salirb" value="Salir" class="btn btn-default button">
                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <h3 style="color: rgba(92,0,92,1);" class="text-center" id="cab"></h3>

    <div class="container-fluid">
        <div class="row">
            <div id="subir" style="display: none" class="col-md-offset-2 col-md-8">

                <div class="row">
                    <output id="list"></output>
                </div>
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="file-4" type="file" name="myfiles" class="file" multiple="multiple" data-upload-url="#">
                    </div>
                </form>

            </div>

            <div id="tablaContent" style="display: none;" class="col-md-8 col-md-offset-2">

                {{.Tmpl}}
                
                <form class="pull-right" method="post" action="/downFiles" role="form">
                    <input type="text" hidden="" id="cadena" name="descargar" value="">
                    <input type="submit" value="Descargar Marcados" class="btn btn-default button">
                </form>
                
                <form class="pull-right" method="post" action="/deleteFiles" role="form">
                    <input type="text" hidden="" id="cadena1" name="eliminar" value="">
                    <input type="submit" value="Eliminar Marcados" class="btn btn-default button">
                </form>
                <a onclick="marcarTodos()" class="btn btn-default button pull-left">Marcar Todos</a>
                <a onclick="desmarcarTodos()" class="btn btn-default button pull-left">Desmarcar Todos</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>

</body>

<script>
    $("#file-4").fileinput({
        uploadUrl: "/upload",
        uploadAsync: true,
        minFileCount: 1,
        maxFileCount: 50,
        showUpload: true,
        showRemove: true,
        uploadExtraData: {kvId: '10'}
    });

    function mostrarSubir(){
        var tabla = document.getElementById('tablaContent');
        var form = document.getElementById('subir');
        var div = document.getElementById('cab');

        div.innerHTML = "Haz copia de seguridad de tus ficheros"
        tabla.style.display = 'none';
        form.style.display = 'inline';
    }

    function mostrarTabla(){
        var tabla = document.getElementById('tablaContent');
        var form = document.getElementById('subir');
        var div = document.getElementById('cab');

        div.innerHTML = "Mis Ficheros"
        tabla.style.display = 'inline';
        form.style.display = 'none';
    }

    function marcar(id)
    {
        var check = document.getElementById('check'+id);
        
        if(check.checked){
            check.checked = false;
        }
        else{
            check.checked = true;
        }
    }
    
    function enviarDescargas()
    {
        var resultado ="";
        
        var n = document.getElementById('tablica').rows.length -1;
        
        for(var i=0;i<n;i++){
            var f = document.getElementById('f'+i).innerHTML;
            var c = document.getElementById('check'+i);
            
            if(c.checked == true){
                resultado = resultado + f + "&";
            }
        }

        var tam = resultado.length;

        resultado = resultado.substring(0, tam-3);
        
        document.getElementById('cadena').value = resultado;
        document.getElementById('cadena1').value = resultado;
    }

    function marcarTodos()
    {
        var n = document.getElementById('tablica').rows.length -1;

        for(var i=0;i<n;i++){
            var c = document.getElementById('check'+i);

            c.checked = true;
        }

        enviarDescargas();
    }

    function desmarcarTodos()
    {
        var n = document.getElementById('tablica').rows.length -1;

        for(var i=0;i<n;i++){
            var c = document.getElementById('check'+i);

            c.checked = false;
        }

        enviarDescargas();
    }
</script>
</html>