html, body{
    height: 95%;
}
.contenedor {
    padding-top: 10%;
    margin-top: 5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 80%;
    background-color: #23527c;
}

h1{
    color: rgba(92,0,92,1);
    font-size: 75px;
}

h2,h3 {
    color: white;
}

label {
    color: #ffffff;
}

input[type="text"]{
    color: rgba(92,0,92,1);
}

input[type="text"]:focus, input[type="password"]:focus{
    border-color: rgba(92,0,92,1);
    box-shadow: white;
}

.button {
    border-color: rgba(92,0,92,1);
    color: rgba(92,0,92,1);
    background-color: #ffffff;
}

#log:hover, #registrob:hover, #myfiles:hover{
    background-color: rgba(92,0,92,1);
    color: #ffffff;
    border-color: #ffffff;
}

#salirb:hover {
    background-color: white;
    border: solid 1px rgba(92,0,92,1);
    color: rgba(92,0,92,1);
}

#salirb {
    background-color:  rgba(92,0,92,1);
    border: solid 1px white;
    color: white;
}

.bordesinput{
    border: solid 1px;
    border-color: rgba(92,0,92,1);
    border-radius: 5px;
}

.separacion {
    border-right: solid 2px #ffffff;
    height: 200px;
}

.iconos{
    color: rgba(92,0,92,1);
    background-color: #ffffff;
}
.degradado {
    background: rgba(92,0,92,1);
    background: -moz-linear-gradient(top, rgba(92,0,92,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(92,0,92,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(92,0,92,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(92,0,92,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(92,0,92,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c005c', endColorstr='#ffffff', GradientType=0 );
}

#barrica {
    background-color: rgba(92,0,92,1);
    color: white;
}

.divnailshico {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 200px;
    height: 200px;
}

.thumbnailshico {
    border: solid 2px rgba(92,0,92,1);

}

body {
    font-family: 'Roboto', sans-serif;
}

#subir {
    padding-bottom: 10px;
}

#drop-area{
    height: 300px;
    border: solid 2px rgba(92,0,92,1);
}

#file-list li img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#backa, #ficha {
    color: white;
}

#backa:hover, #ficha:hover {
    color: rgba(92,0,92,1);
}

input[type="file"] {
    border: solid 1px rgba(92,0,92,1);
}

.input-group .file-caption {
    border: solid 1px rgba(92,0,92,1);
    color: rgba(92,0,92,1);
}

.input-group .file-caption:focus {
    border: solid 1px rgba(92,0,92,1);
    box-shadow: 0 0 10px rgba(92,0,92,1);
    -webkit-box-shadow: 0 0 10px rgba(92,0,92,1);
    -moz-box-shadow: 0 0 10px rgba(92,0,92,1);

}



table {
    border: solid 1px rgba(92,0,92,1);
    border-radius: 5px;
    color: rgba(92,0,92,1);
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: rgba(92,0,92,1);
}

.navbar-default .navbar-toggle:hover{
    background-color: white;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: rgba(92,0,92,1);
}

.navbar-default .navbar-toggle:focus{
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover:not(#yo){
    background-color: white;
    color: black;
}

.kv-fileinput-error {
    background-color: #ffffff !important;
    display: none;
}

.kv-fileinput-error ul {
    display: none;
}

div[class="file-upload-indicator"] i{display: none}
